{% extends "base.html.twig" %}

{% block title %}Books{% endblock %}

{% block body %}
<h1 class="left">{% trans %}Books{% endtrans %}</h1>|<a href="#">My books</a> <a href="#">ru</a> | <a href="#">en</a> <a href="{{ path('app_reader_new') }}" class="btn">Registration</a><br/><br/><br/><hr/>
<div class="row">
<div class="categories col-2">
    <h3>{% trans %}Categories{% endtrans %}:</h3>
    <ul>
    <li>
        <a href="{{ path('app_book_index') }}">All</a>
    </li>
{% for category in categories %}
        <li {% if category_id and category.id == category_id %}class="active"{% endif %}>
            <a href="{{ path('app_book_category', {'id' : category.id}) }}">{{ category.title }}</a>
        </li>
{% endfor %}
    </ul>
</div>

<div class="books col-10 right">
    <div class="row">
    {% for key, book in books %}
        <div class="book col-3">
            <div class="card">
                <img src="/images/{{ book.foto }}" alt="{{ book.title }}" class="card-img-top">
                <p class="author">{{ book.author }}</p>
                <h4>{{ book.title }}</h4>
                {% if status[key].value %}
                <a href="{{ path('app_book_takebook', {'id' : book.id}) }}" class="btn btn-primary">Take</a>
                {% else %}
                <p class="book_status">{{ status[key].message }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
</div>
{% endblock %}
