{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Take book{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Take book{% endtrans %}</h1>
    <p>{{ book.author }}</p>
    <p>{{ book.title }}</p>
    {{ form(form) }}

{% endblock %}

